
* { box-sizing: border-box; }
h2, h3, h4, h5, h6 { color: #47f; }
h1, h2, h3, h4, h5, h6 { line-height: 1em; }

html {
    background: #d0c;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}
body {
    padding: 0px 10px;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}
body > div {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.6em;
    box-sizing: content-box;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    overflow: auto;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header, main, footer {
    margin: 0;
    padding: 15px;
}
header {
    background-color: #222;
    padding-bottom: 40px;
    color :#ccc;
}
main {
    padding: 40px 4em;
    width: 55em;
    flex: 1;
}
footer {
    padding: 30px;
    background-color: #ddd;
    text-align: center;
}
a {
    transition: all 0.15s linear;
    display: inline-block;
    color: #f09;
}
a:hover {
    color: #93c;
}
header a {
    color: yellow;
}
header a:hover {
    color: lime;
}
code {
    display: inline-block;
    padding: 1px 3px;
    margin: -1px -2px;
    background-color: #edf;
    border-radius: 1px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.6);
    font-family: monaco, Consolas, "Lucida Console", monospace;
}
pre > code {
    border-radius: 2px;
    border: solid 1px #444;
    box-shadow: 0 1px 1px black;
    margin-bottom: 40px;
    font-family: monaco, Consolas, "Lucida Console", monospace;
}
p > strong {
    color: #0ef;
}
