
@import '../style.css';

:root {
  --code: #2f9acb;
  --color: #222831;
  --accent: #f92939;
  --background: #f3f3f3;
  --border-color: #eee;
  --secondary: #f92939;
  --content-bg: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent: #0f0;
    --background: #101;
    --border-color: #F0F;
    --code: #f95959;
    --color: #eee;
    --content-bg: #101;
    --secondary: #FF0;
  }
}
