@define-mixin menu {
  position: absolute;
  box-shadow: var(--shadow);
  color: white;
  border: 2px solid;
  border-color: color-mod(var(--color) blend(var(--border-color) 90%));
  background-color: color-mod(var(--background) blend(var(--border-color) 10%));
  @media (prefers-color-scheme: dark) {
    background-color: color-mod(var(--color) blend(var(--border-color) 10%));
  }
  margin: 0;
  padding: var(--p1);
  list-style: none;
  z-index: 99;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--p2);
  position: relative;

  @media (--phone) {
    flex-direction: column;
  }

  @media print {
    display: none;
  }

  &__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    flex: 1;
    justify-content: flex-start;

    a {
      flex: 0 0 auto;
      max-width: 100%;
      text-decoration: none;
    }
  }

  .menu {
    --shadow-color: color-mod(var(--color) a(10%));
    @media (prefers-color-scheme: dark) {
      --shadow-color: color-mod(var(--color) a(80%));
    }
    --shadow: -8px 10px 0px var(--shadow-color);

    @media (--phone) {
      @mixin menu;
      top: 60px;
      right: var(--p2);
    }

    &__inner {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      justify-content: center;
      margin: 0;
      padding: 0;

      &--desktop {
        margin-top: 10px;
        @media (--phone) {
          display: none;
        }
      }

      &--mobile {
        display: none;

        @media (--phone) {
          display: block;
        }
      }

      li {
        &:not(:last-of-type) {
          margin-right: 20px;
          margin-bottom: 10px;
          flex: 0 0 auto;
        }
      }

      @media (--phone) {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;

        li {
          margin: 0;
          padding: 5px;
        }
      }
    }

    &__sub-inner {
      position: relative;
      list-style: none;
      padding: 0;
      margin: 0;

      &:not(:only-child) {
        margin-left: 20px;
      }

      &-more {
        @mixin menu;
        top: 35px;
        left: 0;

        &-trigger {
          color: var(--accent);
          user-select: none;
          cursor: pointer;
        }

        li {
          margin: 0;
          padding: 5px;
          white-space: nowrap;
        }
      }
    }

    .spacer {
      flex-grow: 1;
    }

    .language-selector {
      position: relative;
      list-style: none;
      margin: 0;

      &-current {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        color: var(--accent);
        cursor: pointer;
        margin: 0;
      }

      &__more {
        @mixin menu;
        top: 35px;
        right: 0;
      }
    }

    &-trigger {
      color: var(--accent);
      border: 2px solid;
      margin-left: 10px;
      height: 100%;
      padding: 3px 8px;
      position: relative;
      color: var(--accent);
      user-select: none;
      cursor: pointer;
      &:hover {background-color:var(--border-color)}
    }
  }
}
