html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Code', Monaco, Consolas, Ubuntu Mono, monospace;
  font-size: 0.88rem;
  line-height: 1.25;
  letter-spacing: -0.02em;
  background-color: var(--background);
  color: var(--color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "liga", "tnum", "case", "calt", "zero", "ss01", "locl";
  font-variant-ligatures: contextual;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  background-image: url(/img/bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  backdrop-filter: hue-rotate(120deg) invert();
  @media (prefers-color-scheme: dark) {
    backdrop-filter: hue-rotate(290deg);
  }
  /*  screen, overlay, darken, lighten,
      color-dodge, color-burn, hard-light,
      soft-light, difference, exclusion,
      hue, saturation, color, and luminosity. */


  @media (--phone) {
    font-size: 1rem;
  }
}

.headings--one-size {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: color-mod(var(--accent) blend(var(--background) 25%));
    color: var(--accent);
    line-height: 1.2;

    &:not(first-child) {
      &:not(h1) {
        margin-top: 40px;
      }
    }
  }

  h1,
  h2,
  h3 {
    font-size: 1.2rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1.1rem;
  }
}

a {
  color: inherit;
  color: color-mod(var(--accent) blend(var(--color) 30%));
  @media (prefers-color-scheme: dark) {
    color: color-mod(var(--accent) blend(var(--background) 30%));
  }
  text-decoration-color: color-mod(var(--secondary) alpha(60%));

  /* Waiting for a better times... */
  /* &:has(code) {
    text-decoration-color: var(--accent);
  } */
  &:hover {
    color: color-mod(var(--accent) blend(var(--color) 50%));
    @media (prefers-color-scheme: dark) {
      text-decoration-color: color-mod(var(--secondary) alpha(50%));
      color: color-mod(var(--accent) blend(var(--color) 80%));
    }
    background-color: var(--border-color);
  }
}

img {
  display: block;
  max-width: 100%;

  &.left {
    margin-right: auto;
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  &.right {
    margin-left: auto;
  }
}

p {
  margin-bottom: 20px;
}
li > p:only-child {
  margin-top: 0px;
  margin-bottom: 10px;
}

figure {
  display: table;
  max-width: 100%;
  margin: 25px 0;

  &.left {
    margin-right: auto;
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  &.right {
    margin-left: auto;
  }

  figcaption {
    font-size: 14px;
    padding: 5px 10px;
    margin-top: 5px;
    background: var(--accent);
    color: var(--background);
    /* opacity: .8; */

    &.left {
      text-align: left;
    }

    &.center {
      text-align: center;
    }

    &.right {
      text-align: right;
    }
  }
}

code, kbd {
  font-family: 'Fira Code', Monaco, Consolas, Ubuntu Mono, monospace;
  font-feature-settings: normal;
  background: color-mod(var(--accent) a(20%));
  color: var(--accent);
  padding: 1px 6px;
  margin: 0 2px;
  font-size: .95rem;

  code, kbd {
    background: transparent;
    padding: 0;
    margin: 0;
  }
}

pre {
  xbackground: var(--background);
  padding: 20px 10px;
  margin: 40px 0;
  font-size: .95rem;
  overflow: auto;
  border-top: 1px solid rgba(255, 255, 255, .1);
  border-bottom: 1px solid rgba(255, 255, 255, .1);

  + pre {
    border-top: 0;
    margin-top: -40px;
  }

  @media (--phone) {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  code {
    margin: 0;
    padding: 0;
    font-size: inherit;
    border: none;
  }
}

blockquote {
  margin: 40px 0;
  padding: 25px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  background-color: color-mod(var(--border-color) alpha(25%));
  @media (prefers-color-scheme: dark) {
    border-top: 1px solid color-mod(var(--border-color) blend(var(--color) 40%));
    border-bottom: 1px solid color-mod(var(--border-color) blend(var(--color) 40%));
    background-color: color-mod(var(--border-color) blend(var(--color) 85%));
  }

  @media (--phone) {
    padding-right: 0;
  }

  p:first-of-type {
    margin-top: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  p {
    position: relative;
  }

  p:first-of-type:before {
    content: '>';
    display: block;
    position: absolute;
    left: -20px;
    color: var(--accent);
  }

  &.twitter-tweet {
    position: relative;
    background: color-mod(var(--accent) a(10%));
    font: inherit;
    color: inherit;
    border: 1px solid var(--accent);
    padding-top: 60px;

    p:before {
      content: '';
    }

    &:before {
      content: '> From Twitter:';
      position: absolute;
      top: 20px;
      color: var(--accent);
      font-weight: bold;
    }

    a {
      color: var(--accent);
    }
  }
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  margin: 40px 0;
}

table,
th,
td {
  border: 1px dashed var(--accent);
  padding: 10px;
}

th {
  color: var(--accent);
}

ul,
ol {
  margin-left: 30px;
  padding: 0;

  li {
    position: relative;
  }

  @media (--phone) {
    margin-left: 20px;
  }
}

ol {
  list-style: none;
  counter-reset: li;

  li {
    counter-increment: li;
  }

  li:before {
    content: counter(li);
    position: absolute;
    right: calc(100% + 10px);
    color: var(--accent);
    display: inline-block;
    text-align: right;
  }
}

ol ol {
  list-style-type: lower-alpha;
}

mark {
  background: var(--accent);
  color: var(--background);
}

.container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  max-width: 864px;
  min-height: 100vh;
  border-right: 1px solid rgba(255, 255, 255, 0.1);

  &.full,
  &.center {
    border: none;
    margin: 0 auto;
  }

  &.full {
    max-width: 100%;
  }

  @media (--phone) {
    padding: 20px;
  }

  @media print {
    display: initial;
  }
}

.content {
  display: flex;
  flex-direction: column;

  @media print {
    display: initial;
  }
}

hr {
  width: 100%;
  border: none;
  background: var(--border-color);
  height: 1px;
}

.hidden {
  display: none;
}
