.pagination {
  background:color-mod(var(--accent) blend(var(--content-bg) 95%));
  @media (prefers-color-scheme: dark) {
    background:color-mod(var(--accent) blend(#111 90%));
  }

  @media print {
    display: none;
  }

  &__title {
    text-align: center;
    &-h {
      padding-top: 10px;
      font-size: .8rem;
      display: block;
      width: 100%;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: .1em;
      border-bottom: solid 1px color-mod(var(--color) alpha(10%));
      color: color-mod(var(--color) alpha(40%));
  @media (prefers-color-scheme: dark) {
      color: color-mod(var(--background) alpha(40%));
  }
    }

  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--content-bg);

    a {
      margin-top: 10px;
      text-decoration: none;
    }
  }
}

.button {
  position: relative;
  display: inline-flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border-radius: 8px;
  padding: 0;
  cursor: pointer;
  appearance: none;
  overflow: hidden;

  + .button {
    margin-left: 10px;
  }

  a {
    display: flex;
    padding: 8px 16px;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &.next .button__icon {
    margin-left: 8px;
  }

  &.previous .button__icon {
    margin-right: 8px;
  }
}
