.index-content {
  margin-top: 20px;
  padding: var(--p2);
}

.framed {
  border: 1px solid var(--accent);
  padding: 20px;

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }
}

.posts {
  width: 100%;
}

.post {
  width: 100%;
  text-align: left;
  margin: var(--p1) auto var(--p3);
  padding: 0;
  border: solid 1px var(--border-color);
  border-top-left-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 8px;
  /*border-color: color-mod(black blend(var(--color) 50%));*/

  &>*:first-child { border-radius: inherit; }

  /*background-color: var(--content-bg);
  background-color: color-mod(black blend(var(--color) 50%));*/
  background-color: var(--content-bg);
  &.on-list {
    .post-content {
      margin: 10px 20px;
      padding: 10px 0 20px 0;
    }
  }
  .post-content {
    padding: 0px 20px;
  }
  .post-link {
    color: var(--color);
    text-decoration: none;
    &:hover {
      color: var(--accent);
    }
  }

  &-heading {
    background-color: inherit;
    border: none;
  }

  &-meta {
    font-size: 0.8rem;
    padding: 2px 5px;
    color: color-mod(var(--accent) a(80%));
  }

  &-title {
    position: relative;
    margin: 0;

    a {
      padding: var(--p1) var(--p2);
      text-decoration: none;
      display: block;
      color: var(--accent);
      &:hover {
        color: var(--color);
      }
    }
  }

  &-tags {
    display: block;
    font-size: 0.8rem;
    padding: 0 var(--p2);
    margin-bottom: var(--p4);
    a {
      text-decoration: none;
      span {
        color: color-mod(var(--secondary) blend(var(--color) 50%));
        @media (prefers-color-scheme: dark) {
          color: color-mod(var(--secondary) blend(var(--background) 50%));
        }
      }
      &:hover,
      &:hover span {
        background-color: color-mod(var(--secondary) blend(var(--color) 50%));
        @media (prefers-color-scheme: dark) {
          background-color: color-mod(var(--secondary) blend(var(--background) 50%));
        }
        color: var(--background);
      }
    }
  }

  &-content {
    margin-top: 0px;
  }

  &-cover {
    border: 20px solid var(--accent);
    background: transparent;
    margin: 40px 0;
    padding: 20px;

    @media (--phone) {
      padding: 10px;
      border-width: 10px;
    }
  }

  ul {
    list-style: none;

    li:not(:empty):before {
      content: "-";
      position: absolute;
      left: -20px;
      color: var(--accent);
    }
  }
}

.post-more {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post--regulation {
  h1 {
    justify-content: center;
  }

  h2 {
    justify-content: center;
    margin-bottom: 10px;

    & + h2 {
      margin-top: -10px;
      margin-bottom: 20px;
    }
  }
}

.hanchor {
  color: color-mod(var(--accent) alpha(90%));
  text-decoration: none;
  margin-left: 10px;
  visibility: hidden;
}

h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a {
  visibility: visible;
}

.footnotes {
  color: color-mod(var(--color) alpha(50%));
}

.table-of-contents {
  margin: 0;
  padding: 12px;
  background: color-mod(var(--accent) blend(var(--content-bg) 95%));
  @media (prefers-color-scheme: dark) {
    background: color-mod(var(--accent) blend(#111 80%));
  }
  h2 {
    font-weight: 100;
    font-size: 1rem;
    margin: 0 !important;
    padding: 0;
  }
}
