:root {
  --accent: #FFA86A;
  --color: white;
  --code: white;
  --background: color-mod(var(--accent) blend(#1D1E28 98%));
  --border-color: color-mod(var(--color) alpha(0.1));
  --secondary: orange;
  --content-bg: white;
  --padding-unit: 10px;
  --p0: 0;
  --p1: var(--padding-unit);
  --p2: calc(2 * var(--padding-unit));
  --p3: calc(4 * var(--padding-unit));
  --p4: calc(8 * var(--padding-unit));

  /* variables for js, must be the same as these in @custom-media queries */
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

@custom-media --phone (width < 684px);
@custom-media --tablet (width < 900px);
