{{ define "main" }}
<!--
		Default template for a list page.
	-->
<div class="page list-page">
	<a href="{{ .Site.BaseURL | relLangURL }}">home</a> /
	<!-- Title and content of list page -->
	<h2 class="page-title list-page-title" style="display: inline">
		{{ .Title }}
	</h2>
	<div class="page-content list-page-content">{{ .Content }}</div>

	<!-- List of subpages -->
	<ul class="page-preview-list">
		{{ range .Pages }}
		<li class="page-preview">
			<h3 class="page-preview-title">
				<a href="{{ .Permalink }}">{{ .Title }}</a>
			</h3>
			<p class="page-preview-summary">{{ .Description }}</p>
			<!-- {{ partial "post-metadata.html" . }} -->
		</li>
		{{ end }}
	</ul>
</div>
{{ end }}
