{{ $target := .Get 0 }} {{- range $index1, $category := (.Site.GetPage
"taxonomyTerm" "categories").Pages -}} {{ index .Params 0 }} {{- if eq
$category.Title $target -}}
<ul>
  {{- range $index2, $page := $category.Pages.ByWeight -}}
  <li>
    <h3><a href="{{$page.Permalink}}">{{ $page.Title }}</a></h3>
    <p>{{ $page.Description }}</p>
    <p class="summary">{{ $page.Summary }}</p>
    <aside>
      <ul class="tags">
        {{ with .Param "tags" }} {{ range $index, $tag := . }} {{- with
        $.Site.GetPage (printf "/tags/%s" ($tag | urlize)) -}}
        <li>#<a href="{{ .Permalink }}">{{ $tag }}</a></li>
        {{- end -}} {{ end }} {{ end }}
      </ul>
    </aside>
  </li>
  {{- end -}}
</ul>
{{- end -}} {{- end -}}
